@import "../../styles/_variables.scss";
.item {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: 1px solid $borderColor;
  background: rgba(221, 156, 95, 0.6);
  display: inline-block;
  margin: 1px;
  vertical-align: top;

  img {
    height: 100%;
    border-radius: 2px;
  }
}
